@{
    ViewData["Title"] = "Gestione Album Fotografico";
}
@model List<Photo>

@if (Model != null || Model.Count > 0)
{
    @foreach(Photo photo in Model)
    {
        <ul class="list-unstyled">
            <li>Titolo: @photo.Title</li>
            <li>Descrizione: @photo.Description</li>
            <li>Visibilità: @photo.Visibility</li>
            <li>Source dell immagine:@photo.ImageSrc</li>
            @if (photo.Categories != null || photo.Categories.Count > 0)
            {
                <li>Categorie:
                    <ul class="list-unstyled">
                        @foreach (Category category in @photo.Categories)
                        {
                            <li>&nbsp;&nbsp;&nbsp;- @category.Title</li>
                        }
                    </ul>
                </li>
            }else
            {
                <li>Nessuna Categoria per questa foto</li>
            }
        </ul>
    }

}
else
{
    <h2>Nessuna foto ricevuta...</h2>

}
